body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 40px;
}
p{
    color: black;
    margin-inline-start: 40px;
}
.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/7e/National_Taiwan_University_seal.svg/1200px-National_Taiwan_University_seal.svg.png");
    background-color: #d82020; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
}